body {
    font-family: monospace;
    text-align: center;
    color: #ececec;
    background: linear-gradient(270deg, #88cef0, #2d9ed6, #2278a3);
    background-size: 600% 600%;

    -webkit-animation: movingBackground 0s ease infinite;
    -moz-animation: movingBackground 0s ease infinite;
    -o-animation: movingBackground 0s ease infinite;
    animation: movingBackground 0s ease infinite;

}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.75vw;
    padding: 0.5em;
    padding-bottom: 2em;
    width: 100%;
    max-height: 1em;
    box-sizing: border-box;
    text-align: center;
}

h4 {
    font-size: 2.5vw;
}

li {
    font-size: 2.5vw;
    list-style-position: inside;
}

#discoverDrinkContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}

#searchDrinkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 1em;

}

#moreInfoContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;

}

#headerLogo {
    max-width: 100%;
    height: auto;
    padding: 1em;
    margin-top: 6vh;

}

#navigationBar {
    
    background: #124057;
    letter-spacing: 0.1vw;
    padding-block: 0.25vw;
    position: fixed;
    top:0;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.navButton {
    color: whitesmoke;
    font-size: 3vw;
    text-decoration: none;
    padding-inline: 1vw;
    float:inherit;
    text-align: center;
}

button {
    background-color: #124057;
    border: none;
    color: #88CEF0;
    padding: 1vw 2vw;
    text-align: center;
    font-size: 2vw;
}

#searchInputBox {
    background-color: #124057;
    border: none;
    padding: 1vw 2vw;
    font-size: 2vw;
}

input::placeholder{
    color: #88CEF0;
    padding-bottom: 15px;
  }
  

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    padding: 0.5vw;
    border: 0.3vw solid #124057;
    border-radius: 3vw;
}

#headerLogo {
    border: none;
}

.drinkPrev:hover {
    box-shadow: 0 0 2px 1px rgba(136, 206, 240, 0.5);
  }

label {
    font-size: 2.5vw;
    
}
#footer {
    background-color: #124057;
}

@-webkit-keyframes movingBackground {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-moz-keyframes movingBackground {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@-o-keyframes movingBackground {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}
@keyframes movingBackground {
    0%{background-position:0% 96%}
    50%{background-position:100% 5%}
    100%{background-position:0% 96%}
}